/*==============Basic Element Styles=========*/

h1 {
    color: blue;
}

/*==============Search=========*/

input[type="text"] {
    border: 1px solid black;
    width: 25%;
    margin: 10px 35%;
    text-align: center;
    color: gray;
}

input::placeholder {
    color: lightgray;
    text-align: center;
}