/*==============Main Page=========*/

header {
    max-width: 100%;
    margin-left: 15%;
    margin-bottom: -10%;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: whitesmoke;
}

/*==============Search=========*/

input[type="text"] {
    border: 3px solid blue;
    width: 245px;
    margin: 10% 20%;
    text-align: center;
    color: blue;
}

input::placeholder {
    color: lightgray;
    text-align: center;
}

/*==============Photos=========*/

.photos {
    border: 2px solid blue;
    width: 250px;
    margin-left: 20%;
    margin-bottom: 10%;
}  

.photos:hover {
    border-color: greenyellow;
}

.wolfPics {
    display: none;
}

/*==============Footer=========*/

footer {
    text-align: center;
    background-color: black;
    border: 1.5px solid blue;
    padding: 30px;
}

footer p {
    color: dodgerblue;
    font-size: 25px;
    font-family: cursive;
}

/*==============Media Queries=========*/

@media (max-width: 400px) {
    body {
    display:flex;
    flex-direction: column;
    min-height:100vh; 
}

    .list{
        flex-grow:1;
    } 
}

@media (min-width: 768px){
    input[type="text"] {
        width: 60%;
        margin-bottom: -10%;
    }

    .photos {
        width: 250px;
        margin: 5% 7%;
    }

    body {
        background-color: black;
        background-image: url(../photos/personalImages/moon.jpg);
        background-size: 75%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: -4%;
    }

    .wolf {
        height: 200px;
        width: 200px;
        margin-left: 5%;
        margin-top: 3%;
    }

    .wolfPics {
        display: inline;
    }
}
