/*==============Main Page=========*/

body {
    background-image: url(../photos/personalImages/lion.jpg);
    background-size: cover;
}

/*==============Search=========*/

input[type="text"] {
    border: 3px solid black;
    width: 30%;
    margin: 50px 35%;
    text-align: center;
    color: blue;
}

input::placeholder {
    color: lightgray;
    text-align: center;
}

input:hover {
    border-color: yellow;
}

/*==============Photos=========*/

.photos {
    padding: 10px 20px;
    padding-left: 50px;
    width: 225px;
    border: 1px solid blue;
}

.photos:hover {
    border-color: yellow;
}

/*==============Footer=========*/

footer {
    text-align: center;
    background-color: black;
    padding: 30px;
}

footer p {
    color: dodgerblue;
    font-size: 30px;
}